.question-wrapper {
  width: 80%;
  border-bottom: 2px solid #dbdef0;
  padding: 1em 0;
}

.answers-wrapper {
  display: flex;
  gap: 1.3em;
}

.result-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.7em;
}

.result-text {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
}
