.question-wrapper,
.result-wrapper {
  width: 90%;
}

@media (min-width: 768px) {
  .question-wrapper,
  .result-wrapper {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .question-wrapper,
  .result-wrapper {
    width: 70%;
  }
}

.question-wrapper {
  border-bottom: 2px solid #dbdef0;
  padding: 1.3em 0;
}

.answers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3em;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.result-text {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .answers-wrapper {
    flex-direction: row;
    align-items: stretch;
  }

  .result-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .result-text {
    margin-bottom: 0;
  }
}
